html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit
}

.logo__img-box {
    width: 100px;
    height: 80px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}                 /*Для прибивания footer (см. .main)*/


.container {
    max-width: 1020px;
    margin: 0 auto;        /*устанавливает блок по центру*/
    padding: 0, 10px;

}

.section__title{
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}

.header {
    background-color: #151515;
}

.header_header-main {
    background-color: transparent;
    position: absolute;               /*для поднятия фона наверх, но из-за этого позиционирование сбивается*/
    z-index: 5;                       /*для поднятия фона наверх, но из-за этого позиционирование сбивается*/
    left: 0;                         /*расправляем позиционирование*/
    right: 0;                        /*расправляем позиционирование*/
}

.header__inner {
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.menu__list {
    display: flex;
    gap: 35px;
}

.menu__list-link {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}


.menu__list-link--active {
    color: #0066FF;
}

.menu__list-link:hover {
    color: #0066FF;
}


.menu__btn {
    height: 20px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border: none;
    background-color: transparent;
    display: none;
    margin-right: 15px;
}

.menu__btn span {
    height: 2px;
    background-color: #fff;
    width: 100%;
}


.footer {
    background-color: #151515;
    padding: 50px 0 32px;
    color: white
}

.footer__menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer__menu-list {
    max-width: 250px;
}

.footer__menu-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer__menu-item + .footer__menu-item {
    padding-top: 20px;
}

.app {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 52px;
}

.footer__copy {
    max-width: 800px;
    margin: 0 auto 30px;
    text-align: center;
    padding: 0 10px;
}

.copy__nav-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0 10px;
}

.main {
    flex-grow: 1;
}

.top {
    color: white;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 50px;
    position: absolute;              /*для поднятия фона наверх, но из-за этого позиционирование сбивается*/
    z-index: 4;                      /*для поднятия фона наверх, но из-за этого позиционирование сбивается*/
    left: 0;                         /*расправляем позиционирование*/
    right: 0;                        /*расправляем позиционирование*/
}

.title {
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}

.top__link {
    background-color: #151515;
    padding: 23px;
    max-width: 430px;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}

.swiper::after {
    content: '';
    background-color: rgba(21, 21, 21, 0.3); /*не используется в цвете # специально*/
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-height: 700px;
}

.swiper-pagination-bullet {
    width: 120px;
    height: 3px;
    background-color: #151515;
    border-radius: 0;
    opacity: 1;
    margin: 0 15px !important;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 55px;
}

.swiper-pagination-bullet-active {
    width: 120px;
    height: 6px;
    background-color: #fff;
    border-radius: 0;
    opacity: 1;
    margin: 0 15px !important;
}



.topic {
    margin: 150px 0;
}

.topic__list__item-title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}

.topic__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    text-align: center;
    padding: 0 10px;
}


.topic__list__item__img {
    margin-bottom: 30px;
}

.topic__list__item-text {
    text-align: left;
}

.topic-second {
    margin: 150px 0;
    padding: 0 10px;
}

.topic-second__content {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

.topic-second__text-par {
    margin-bottom: 15px;
}

.shef {
    float: left;
    margin-right: 15px;
}

.support {
    text-align: center;
}

.video {
    padding-bottom: 150px;
}

.video__title {
    margin-bottom: 20px;
}

.video__text {
    margin-bottom: 50px;
    text-align: center;
}

.video__player {
    display: block;
    margin: 0 auto;
}

.contact {
    padding: 100px 0 150px;
}

.contact__title {
    margin-bottom: 20px;
}

.contact__text {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
    padding: 0 100px;
}

.form {
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;       /*если мало места, будут переноситься*/
}

.form__text-area {
    width: 100%;
    resize: none;
    padding: 28px 20px;
    height: 290px;
    border: 1px solid #0066FF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: black;
    margin-bottom: 50px;
}

.form__input {
    width: 270px;
    padding: 18px 20px;
    display: inline-block;
    border: 1px solid #0066FF;
    margin-bottom: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: black;
}

.form__input::placeholder, .form__text-area::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: black;
    opacity: 0.4;
}

.form__btn {
    text-transform: uppercase;
    color: white;
    background-color: #151515;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 50px;
    margin: 0 auto;
}

.product {
    padding: 100px 0 150px;
}

.tabs__btn {
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding-bottom: 100px; 
}

.tabs__btn-item {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}

.tabs__btn-item--active {
    color: #0066FF;
}

.tabs__content-item {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
}

.tabs__content-item.tabs__content-item--active {
    display: grid;
}

.card {
    text-align: center;
}

.card__content {
    padding: 0 5px;
    border: 1px solid #6e4318;
    border-top: 0;
}

.card__img {
    display: block;
    border: 1px solid #6e4318;
}


.card__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.card__text {
    margin-bottom: 20px;
}

.card__price {
    margin-bottom: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

.card__link {
    display: block;
    color: #361f00c2;
    border: 1px solid #6e4318;
    border-top: 0;
}

@media (max-width: 1040px)  {
    .title {
        font-size: 56px;
    }
    .top__link {
        max-width: 210px;
        font-size: 20px;
    }
    .video__player {
        width: 96%;
    }
}

@media (max-width: 860px) {
    .menu__btn {
        display: flex;
    }

    .menu__btn, 
    .logo {
        position: relative;
        z-index: 10;
    }

    .menu__list {
        position: absolute;
        z-index: 6;
        background-color: #151515;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 200px;
        padding-bottom: 100px;
        height: 100vh;
        max-height: 700px;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        transform: translateY(-100%);
        transition: transform .3s ease;
    }

    .menu__list.menu__list--active {
        transform: translateY(0%);s
    }
}

@media (max-width: 630px) {
    .swiper-pagination-bullet-active,
    .swiper-pagination-bullet {
        width: 50px;
        border-radius: 3px;
    }
    
    .topic__list {
        grid-template-columns: repeat(1, 1fr);
        gap: 80px;
        text-align: center;
    }
}

@media (max-width: 500px) {
    
.topic-second__content {
    margin: 0 auto;
    text-align: left;
}

.shef {
    float: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.footer {
    font-size: 80%;
}

.footer__menu-title {
    font-size: 130%;
}

}

@media (max-width: 380px) {
    .title {
        font-size: 36px;
    }
    .top__link {
        max-width: 190px;
        font-size: 13px;
    }   
}